* {
    box-sizing: border-box;
    /* font family */
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    padding: 10% 20px;
    text-align: center;
}

:root {
    --marron1: #271301;
    --blanco: #fff;
    --azul2: #0F1923;
}


/*Estilos Buttones*/

button {
    float: center;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

#row-backcolor {
    background-color: #ffcb85;
}


/*Estilos*/

.cuadro_login {
    height: 500px;
    width: 650px;
    border: 5px solid var(--marron1);
    background: #cdb8ac;
    border-color: #511301;
}

.cuadro_control_sala {
    height: 515px;
    width: 650px;
    border: 5px solid var(--marron1);
    background: #cdb8ac;
    border-color: #511301;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cuadro-figura {
    height: 520px;
    width: 700px;
    border: 5px solid var(--azul2);
    background: #535F80;
    padding: 10px;
}

.cuadro-figura h2 {
    color: #fff;
}

.flex-cv {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}


/* TABLA */

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: #E1D9BE;
    background-color: rgba(255, 255, 255, 0.3);
}

.table td {
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: #E1D9BE;
}

.table tr {
    border-spacing: 0px 20px;
    border-left: 1pt solid rgba(255, 255, 255, 0.2);
    border-right: 1pt solid rgba(255, 255, 255, 0.2);
    border-top: 1pt solid rgba(255, 255, 255, 0.2);
}

table tr:hover {
    background-color: rgba(114, 107, 107, 0.15);
}

table {
    background-color: rgba(0, 0, 0, 0.05);
}


/*Botones*/

.boton {
    position: relative;
    padding: 5px 10px;
    margin: 0px 10px 10px 0px;
    float: right;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    color: #E1D9BE;
    text-decoration: none;
    background-color: #3C425C;
    border-color: #E1D9BE;
    border-bottom: 5px solid black;
}

.boton:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}

.login {
    background-image: url("../img/img_login.jpg");
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}

.control_sala {
    background-image: url("../img/img_login.jpg");
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}

.fondosala {
    background-image: url("../img/fondo_sala.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframes gradient {
    0% {
        background-position: 0%
    }
    100% {
        background-position: 100%
    }
}

.formulario_login {
    height: 100%;
    padding: 10%;
}

.inputlogin {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: #906044;
    background-color: #e6dbd5;
    outline: none;
}

.botonlogin {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: #906044;
    background-color: #e6dbd5;
}

.botonessala {
    width: 200px;
    height: 45px;
    border-radius: 7px;
    border-color: black;
    background-color: #fbf7f5;
    border-bottom: 5px solid black;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0px 10px 10px 0px;
    position: relative;
}

.botonessala:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}

.botonhistorial {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: whitesmoke;
    background-color: violet;
}

.mensajelogin {
    color: black;
    font-size: 20px;
    text-decoration: underline;
}

.column-3 {
    float: left;
    width: 33.3%;
}

.column-2 {
    float: left;
    width: 50%;
}

.column {
    float: left;
    width: 100%;
    height: 16.7%;
}

.btnsala {
    width: 100%;
    height: 100px;
    background-color: #cdacb1;
    border-style: outset;
    border-color: #FDFFF9;
    border-radius: 7px;
    border-bottom: 5px solid black;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0px 10px 10px 0px;
    position: relative;
}

.btnsala:hover {
    background-color: #acc1cd;
}


/*Estilos Zona Admins*/

body.region-admin {
    padding: 0px;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-flow: column;
    margin: 0;
    background-size: cover;
}

::placeholder {
    color: #fff;
}

#user {
    background-image: url("../img/img_fondo_users.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

#mesas {
    background-image: url("../img/img_fondo_mesas.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

#reservas {
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
}

#incidencias {
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
}

.fondo-admin {
    background-image: url("../img/img_admin.jpeg");
    overflow-x: hidden;
    overflow-y: hidden;
    background-position-y: -150px;
    background-size: cover;
    background-repeat: no-repeat;
}

.cuadro_admin {
    height: 405px;
    width: 650px;
    border: 5px solid var(--marron1);
    background: #ccd3db;
    border-color: #416e7e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btnadmin {
    width: 100%;
    height: 100px;
    background-color: #5e5e66;
    border-style: outset;
    border-color: #FDFFF9;
    border-radius: 7px;
    border-bottom: 5px solid black;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0px 10px 10px 0px;
    position: relative;
}

.btnadmin:hover {
    background-color: #927244;
}

.cuadro-admin {
    height: 515px;
    width: 673px;
    border: 5px solid var(--marron1);
    background: #cdb8ac;
    border-color: #511301;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tableAdmin th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: #E1D9BE;
    background-color: rgba(101, 115, 126);
    border: 2pt solid rgba(17, 17, 17);
}

.tableAdmin td {
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: #000000;
    border: 2pt solid rgba(17, 17, 17);
    font-weight: bold;
}

.tableAdmin tr {
    border-spacing: 0px 20px;
    border-left: 2pt solid rgba(17, 17, 17);
    border-right: 2pt solid rgba(17, 17, 17);
    border-top: 2pt solid rgba(17, 17, 17);
    border-bottom: 2pt solid rgba(17, 17, 17);
    background-color: rgba(192, 197, 206);
}

.tableAdmin tr:hover {
    background-color: rgba(119, 119, 119);
}

.botonCre {
    padding: 5px 10px;
    margin: 0px 10px 10px 0px;
    float: right;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: #bae1ff;
    border-color: black;
    border-bottom: 5px solid black;
    float: left;
    display: flex;
}

#logout {
    background-color: #ffdfba;
}

#crl_adm {
    background-color: #baffc9;
}

.botonCre:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}

.botonAct {
    position: relative;
    padding: 5px 10px;
    margin: 0px 10px 10px 0px;
    float: center;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: #ffffba;
    border-color: black;
    border-bottom: 5px solid black;
}

.botonAct:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}

.botonEli {
    position: relative;
    padding: 5px 10px;
    margin: 0px 10px 10px 0px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: #ffb3ba;
    border-color: black;
    border-bottom: 5px solid black;
    float: center;
}

.botonEli:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}

.crear {
    background-image: url("../img/img_fondo_crear.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cuadro_crear {
    height: 600px;
    width: 650px;
    border: 5px solid;
    background: #c39a7c;
    border-color: #1a79a1;
}

.cuadro_crear p {
    font-weight: bold;
    margin: 0;
}

.inputcrear {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: #5db4cf;
    background-color: #bc7b66;
    outline: none;
    color: #fff;
}

.botoncrear {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: #5db4cf;
    background-color: #bc7b66;
    color: #fff;
}

.actualizar {
    background-image: url("../img/img_fondo_act.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cuadro_actualizar {
    height: 560px;
    width: 650px;
    border: 5px solid;
    background: #c5a68e;
    border-color: #3e0903;
}

.cuadro_actualizar p {
    font-weight: bold;
    margin: 0;
}

.inputactualizar {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: #3e0903;
    background-color: #8e3c0c;
    outline: none;
    color: #fff;
}

.botonactualizar {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: #3e0903;
    background-color: #8e3c0c;
    color: #fff;
}

.actualizar_mesas {
    background-image: url("../img/img_act_mesa.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.cuadro_actualizar_mesas {
    height: 350px;
    width: 650px;
    border: 5px solid;
    background: #d8d0bd;
    border-color: #5f3926;
}

.cuadro_actualizar_mesas p {
    font-weight: bold;
    margin: 0;
}

.inputActMesa {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: #535961;
    background-color: #5f3926;
    outline: none;
    color: #fff;
}

.btnActMesa {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: #535961;
    background-color: #5f3926;
    color: #fff;
}

.crear_mesa {
    background-image: url("../img/img_cre_mesajpeg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.cuadro_crear_mesa {
    height: 350px;
    width: 650px;
    border: 5px solid;
    background: #d0b297;
    border-color: #725b4c;
}

.cuadro_crear_mesa p {
    font-weight: bold;
    margin: 0;
}

.inputCreMesa {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: #737e30;
    background-color: #bb7a45;
    outline: none;
    color: #fff;
}

.btnCreMesa {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: #737e30;
    background-color: #bb7a45;
    color: #fff;
}